<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
{% include 'headers.html' %}

<body>
    <div>
        <div class="aspNetHidden">
            <input type="hidden" name="ctl00_RadScriptManager1_TSM" id="ctl00_RadScriptManager1_TSM" value="" />
            <input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
            <input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />

        </div>

        <script type="text/javascript">
            //<![CDATA[
            var theForm = document.forms["aspnetForm"];
            if (!theForm) {
                theForm = document.aspnetForm;
            }
            function __doPostBack(eventTarget, eventArgument) {
                if (!theForm.onsubmit || theForm.onsubmit() != false) {
                    theForm.__EVENTTARGET.value = eventTarget;
                    theForm.__EVENTARGUMENT.value = eventArgument;
                    theForm.submit();
                }
            }
            //]]>
        </script>

        <script
            src="https://www.supremecourt.gov/WebResource.axd?d=pynGkmcFUV13He1Qd6_TZGVbOm9V68oIIktI_W7Deic6ylHZhBcO0DPfFNaFgt6K56r_Ei_L1R3fS8qPL3MKAQ2&t=638563127773552689"
            type="text/javascript"></script>

        <script
            src="https://www.supremecourt.gov/ScriptResource.axd?d=nv7asgRUU0tRmHNR2D6t1Mz6ZxijnNM9P9Qe9uddzuQox2IiojG5k5o-qBJoG7Dte7hbvoCbRBuRPeHeZyRwpX5LxES8-RopBt8-Md8MvNAZC1XK3f6rj17R5SQNmwNnKj_Fve60SE18feZoCEb2Yw2&t=7266186d"
            type="text/javascript"></script>
        <script
            src="https://www.supremecourt.gov/Telerik.Web.UI.WebResource.axd?_TSM_HiddenField_=ctl00_RadScriptManager1_TSM&compress=1&_TSM_CombinedScripts_=%3b%3bSystem.Web.Extensions%2c+Version%3d4.0.0.0%2c+Culture%3dneutral%2c+PublicKeyToken%3d31bf3856ad364e35%3aen-US%3aceece802-cb39-4409-a6c9-bfa3b2c8bf10%3aea597d4b%3ab25378d2%3bTelerik.Web.UI%2c+Version%3d2024.2.513.462%2c+Culture%3dneutral%2c+PublicKeyToken%3d121fae78165ba3d4%3aen-US%3a4a06dcb0-7284-4255-b4c3-3ac41266023c%3a16e4e7cd%3aed16cbdc%3a33715776%3af7645509%3a59462f1%3aa51ee93e%3a88144a7a%3a24ee1bba%3ac128760b%3a19620875%3a874f8ea2%3af46195d3%3acda80b3%3ab2e06756%3a92fe8ea0%3afa31b949%3a4877f69a%3a490a9d4e%3abd8f85e4"
            type="text/javascript"></script>
        <script
            src="https://www.supremecourt.gov/WebResource.axd?d=JoBkLzP19aTuxbWOhHobYsa30HvStoJLmW0EUzyYHJhRhK8cvVYfDS9nHruKQgTxhM0JzZn77-vUVCXyHe4QLg2&t=638563127773552689"
            type="text/javascript"></script>
        <script type="text/javascript">
            //<![CDATA[
            function WebForm_OnSubmit() {
                if (
                    typeof ValidatorOnSubmit == "function" &&
                    ValidatorOnSubmit() == false
                )
                    return false;
                return true;
            }
            //]]>
        </script>

        <div class="aspNetHidden">
            <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="CA0B0334" />
            <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION"
                value="nLtrRA0YtJIAmpjLORsHfyF8PjnfUEwXYGEzOlbdQRKryHkEDbFnzGyr5CARUamwnzIwhFpfTM1NEQO7JMuu+PphaUtLspUabxxGmGB7k+Zcq4oG6CR3XL98Sr1sRhmix+oYzhqdgF4p/OgjwKf1HiKvsE2lS5dtAUc7XwVuHPeLIQHt1QjbrpENo2za9aFY" />
        </div>
        <div class="noindex">
            <script type="text/javascript">
                //<![CDATA[
                Sys.WebForms.PageRequestManager._initialize(
                    "ctl00$RadScriptManager1",
                    "aspnetForm",
                    ["tctl00$MainEditable$ctl00$MainEditable$RadAjaxPanel1Panel", ""],
                    [],
                    [],
                    90,
                    "ctl00"
                );
                //]]>
            </script>
        </div>


        {% include 'hero.html' %}
        {% include 'nav.html' %}
        <!-- Quick Menu -->
        <!-- <div style="padding: 5px 0 5px 0; box-shadow: 0px 10px 10px #888888; position: relative;">
            <div class="container">
                <div class="center-block" style="align-content: center; text-align: center;">
                    <div class="col-md-2 col-xs-12">
                        <h3 style="font-weight: bold; color: #9c2426; padding: 10px;">Quick Links</h3>
                    </div>

                    <div class="col-md-2 col-xs-6" style="padding: 15px;"><a
                            href="filingandrules/electronicfiling.aspx"><i class="fa-solid fa-folder-open"
                                style="font-size: 25pt;"></i><br /> Electronic Filing</a></div>
                    <div class="col-md-2 col-xs-6" style="padding: 15px;"><a href="https://ticket.supremecourt.gov"><i
                                class="fa-solid fa-ticket" style="font-size: 25pt;"></i><br /> Courtroom Seating</a>
                    </div>
                    <div class="col-md-2 col-xs-6" style="padding: 15px;"><a href="fellows/"><i
                                class="fa-solid fa-graduation-cap" style="font-size: 25pt;"></i><br /> Fellows
                            Program</a></div>
                    <div class="col-md-2 col-xs-6" style="padding: 15px;"><a href="contact/contactus.aspx"><i
                                class="fa-regular fa-edit" style="font-size: 25pt;"></i><br /> Contact Us</a></div>
                    <div class="col-md-2 col-xs-6" style="padding: 15px 30px;"><a href="oral_arguments/live.aspx">
                            <div style="display:block; align-content: center; text-align: center;"><img
                                    class="quick-icon" src="images/live_icon.png" alt="Live Audio" />
                                <div>Live Audio</div>
                            </div>
                        </a></div>
                </div>
            </div>
        </div> -->
        <!-- Quick Menu Ends -->

        <div class="container">
            <span id="ctl00_ctl00_lbltemp"></span><br />

            <!-- <div class="col-md-3" style="padding-top: 20px;">
                <div id="sidenavheader">
                    <button class="btn btn-default" onclick="toggleMenushow(); return false;" title="Section Menu"><i
                            class="fa fa-bars" style="font-size: 14pt;"></i></button>
                </div>
                <div id="sidenavbody">
                    <div id="ctl00_ctl00_MainEditable_pnlsidemenu">


                        <ul class="sidenav-list">

                            <li><a id="ctl00_ctl00_MainEditable_sidenavContent_ctl00_hypjustices"
                                    href="justices.aspx">Justices</a>

                            </li>
                            <li><a id="ctl00_ctl00_MainEditable_sidenavContent_ctl00_hypwork"
                                    href="courtatwork.aspx">Supreme Court at Work</a>

                            </li>
                            <li><a id="ctl00_ctl00_MainEditable_sidenavContent_ctl00_Hypcodeofconduct"
                                    href="code-of-conduct-for-justices.aspx">Code of Conduct for Justices</a></li>
                            <li><a id="ctl00_ctl00_MainEditable_sidenavContent_ctl00_hyphistory"
                                    href="historyandtraditions.aspx">History and Traditions</a>

                            </li>
                            <li><a id="ctl00_ctl00_MainEditable_sidenavContent_ctl00_hypbuilding"
                                    href="courtbuilding.aspx">The Supreme Court Building</a>

                            </li>
                            <li><a id="ctl00_ctl00_MainEditable_sidenavContent_ctl00_hypbuildingregulation"
                                    href="buildingregulations.aspx">Building Regulations</a></li>
                            <li><a id="ctl00_ctl00_MainEditable_sidenavContent_ctl00_hypfaq" href="faq.aspx">Frequently
                                    Asked Questions</a>

                            </li>
                        </ul>


                    </div>
                </div>
            </div> -->

            <div id="pagemaindiv" class="col-md-9">


                <div id="pagetitle" style="color: #9c2426;">
                    <h3><b>About the Court</b></h3>
                </div>
                <br />

                <div id="ctl00_ctl00_MainEditable_mainContent_RadEditor1">
                    <!-- 2024.2.513.462 -->
                    <p>"EQUAL JUSTICE UNDER LAW" - These words, written above the main entrance to the Supreme Court
                        Building, express the ultimate responsibility of the Supreme Court of the United States. The
                        Court is the highest tribunal in the Nation for all cases and controversies arising under the
                        Constitution or the laws of the United States. As the final arbiter of the law, the Court is
                        charged with ensuring the American people the promise of equal justice under law and, thereby,
                        also functions as guardian and interpreter of the Constitution.</p>
                    <p>The Supreme Court consists of the Chief Justice of the United States and such number of Associate
                        Justices as may be fixed by Congress. The number of Associate Justices is currently fixed at
                        eight (28 U. S. C. &sect;1). Power to nominate the Justices is vested in the President of the
                        United States, and appointments are made with the advice and consent of the Senate. </p>
                    <br />
                    <div style="font-size: 14pt; font-weight: bold;"><a class="accordion-toggle toggle-text"
                            style="color: #000000; font-weight: bold;" data-toggle="collapse"
                            data-target="#ChiefJustice"><em class="fa-regular fa-square-plus"></em><em
                                class="hidden fa-regular fa-square-minus"></em> Chief Justice of the United States</a>
                    </div>
                    <div class="collapse" id="ChiefJustice">John G. Roberts, Jr.</div>
                    <br />
                    <div style="font-size: 14pt; font-weight: bold;"><a class="accordion-toggle toggle-text"
                            style="color: #000000; font-weight: bold;" data-toggle="collapse"
                            data-target="#AssociateJustice"><em class="fa-regular fa-square-plus"></em><em
                                class="hidden fa-regular fa-square-minus"></em> Associate Justices</a></div>
                    <div class="collapse" id="AssociateJustice">
                        Clarence Thomas <br />
                        Samuel A. Alito, Jr. <br />
                        Sonia Sotomayor <br />
                        Elena Kagan <br />
                        Neil M. Gorsuch <br />
                        Brett M. Kavanaugh <br />
                        Amy Coney Barrett<br />
                        Ketanji Brown Jackson
                    </div>
                    <br />
                    <div style="font-size: 14pt; font-weight: bold;"><a class="accordion-toggle toggle-text"
                            style="color: #000000; font-weight: bold;" data-toggle="collapse"
                            data-target="#RetiredJustices"><em class="fa-regular fa-square-plus"></em><em
                                class="hidden fa-regular fa-square-minus"></em> Retired Justices</a></div>
                    <div class="collapse" id="RetiredJustices">
                        Anthony M. Kennedy <br />
                        Stephen G. Breyer
                    </div>
                    <br />
                    <p>Court Officers assist the Court in the performance of its functions. They include the Counselor
                        to the Chief Justice, the Clerk, the Librarian, the Marshal, the Reporter of Decisions, the
                        Court Counsel, the Curator, the Director of Information Technology, and the Public Information
                        Officer.</p>
                    <br />
                    <div style="font-size: 14pt; font-weight: bold;"><a class="accordion-toggle toggle-text"
                            style="color: #000000; font-weight: bold;" data-toggle="collapse"
                            data-target="#CourtOfficers"><em class="fa-regular fa-square-plus"></em><em
                                class="hidden fa-regular fa-square-minus"></em> Court Officers</a></div>
                    <div class="collapse" id="CourtOfficers">
                        <table>
                            <tbody>
                                <tr>
                                    <td style="width: 280px;"><strong>Counselor to the Chief Justice</strong></td>
                                    <td>Hon. Robert M. Dow, Jr.</td>
                                </tr>
                                <tr>
                                    <td><strong>Clerk</strong></td>
                                    <td>Scott S. Harris</td>
                                </tr>
                                <tr>
                                    <td><strong>Librarian</strong></td>
                                    <td>David S. Mao</td>
                                </tr>
                                <tr>
                                    <td><strong>Marshal</strong></td>
                                    <td>Gail Curley</td>
                                </tr>
                                <tr>
                                    <td><strong>Reporter Of Decisions</strong></td>
                                    <td>Rebecca A. Womeldorf</td>
                                </tr>
                                <tr>
                                    <td><strong>Court Counsel</strong></td>
                                    <td>Ethan V. Torrey</td>
                                </tr>
                                <tr>
                                    <td><strong>Curator</strong></td>
                                    <td>Matthew D. Hofstedt</td>
                                </tr>
                                <tr>
                                    <td><strong>Public Information Officer</strong></td>
                                    <td>Patricia McCabe</td>
                                </tr>
                                <tr>
                                    <td><strong>Director Of Information Technology</strong></td>
                                    <td>Charles W. Gerald</td>
                                </tr>
                                <tr>
                                    <td><strong>Budget Director</strong></td>
                                    <td><br />
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Human Resources Director</strong></td>
                                    <td>Tonia J. Powell</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br />
                    <span style="font-size: 14pt; font-weight: bold;">The Supreme Court of the United
                        States</span><br />
                    <p>One First Street, NE, Washington, DC 20543 <br />
                        Phone: 202-479-3000</p>
                </div>
                <br /> <br /> <br />
                <script type="text/javascript">
                    $('.hidden').removeClass('hidden').hide();
                    $('.toggle-text').click(function () {
                        $(this).find('i').each(function () { $(this).toggle(); });
                    });
                </script>

            </div>
            <div>
                <p>&nbsp;<br /></p>
            </div>
            <script type="text/javascript">
                $(window).on('resize', function () {
                    if ($(window).width() > 991) {
                        $("#sidenavbody").css("display", "block");
                        $("#searchbox").css("display", "block");
                    } else {
                        $("#sidenavbody").css("display", "none");
                        $("#searchbox").css("display", "none");
                    };
                });

                function toggleMenushow() {
                    var query = $("#sidenavbody");
                    var isVisible = query.is(":visible");

                    if (isVisible === true) {
                        $("#sidenavbody").css("display", "none");
                    } else {
                        $("#sidenavbody").css("display", "block");
                    }

                }
            </script>

        </div>

        {% include 'footer.html' %}
</body>

</html>