<!-- <div class="footer2 noindex">
    <div class="container">
      <div class="col-md-6 col-sm-12 col-xs-12 nopadding">
        <div class="col-sm-4 col-xs-12">
          <a
            id="ctl00_wucFooterNav_HyperLink5"
            class="landing"
            href="opinions/opinions.aspx"
            style="display: inline-block; height: 18px"
            >Opinions</a
          >
          <ul class="footernavlist">
            <li>
              <a
                id="ctl00_wucFooterNav_HyperLink30"
                href="opinions/slipopinion/24"
                >Opinions of the Court</a
              >
            </li>
            <li>
              <a
                id="ctl00_wucFooterNav_HyperLink31"
                href="opinions/relatingtoorders/24"
                >Opinions Relating to Orders</a
              >
            </li>
            <li>
              <a
                id="ctl00_wucFooterNav_HyperLink32"
                href="opinions/in-chambers.aspx"
                >In-Chambers Opinions</a
              >
            </li>
            <li>
              <a
                id="ctl00_wucFooterNav_HyperLink35"
                href="opinions/USReports.aspx"
                >U. S. Reports</a
              >
            </li>
            <li>
              <a
                id="ctl00_wucFooterNav_HyperLink37"
                href="opinions/urls_cited.aspx"
                >Online Sources Cited in Opinions</a
              >
            </li>
            <li>
              <a id="ctl00_wucFooterNav_HyperLink36" href="media/media.aspx"
                >Media Files Cited in Opinions</a
              >
            </li>

            <li>
              <a
                id="ctl00_wucFooterNav_HyperLink34"
                href="opinions/casefinder.aspx"
                >Case Citation Finder</a
              >
            </li>
          </ul>
          <br />
        </div>
        <div class="col-sm-4 col-xs-12">
          <a
            id="ctl00_wucFooterNav_HyperLink69"
            class="landing"
            href="filingandrules/"
            style="display: inline-block; height: 18px"
            >Filing & Rules</a
          >
          <ul class="footernavlist">
            <li>
              <a
                id="ctl00_wucFooterNav_HyperLink44f"
                href="filingandrules/electronicfiling.aspx"
                >Electronic Filing</a
              >
            </li>
            <li>
              <a
                id="ctl00_wucFooterNav_HyperLink3"
                href="filingandrules/rules_guidance.aspx"
                >Rules and Guidance</a
              >
            </li>
            <li>
              <a
                id="ctl00_wucFooterNav_HyperLink2"
                href="filingandrules/supremecourtbar.aspx"
                >Supreme Court Bar</a
              >
            </li>
          </ul>

          <br />
        </div>
        <div class="col-sm-4 col-xs-12">
          <a
            id="ctl00_wucFooterNav_hl"
            class="landing"
            href="oral_arguments/oral_arguments.aspx"
            style="display: inline-block; height: 18px"
            >Oral Arguments</a
          >
          <ul class="footernavlist">
            <li>
              <a
                id="ctl00_wucFooterNav_HyperLink13"
                href="oral_arguments/argument_transcript.aspx"
                >Argument Transcripts</a
              >
            </li>
            <li>
              <a
                id="ctl00_wucFooterNav_HyperLink14"
                href="oral_arguments/argument_audio.aspx"
                >Argument Audio</a
              >
            </li>
            <li>
              <a
                id="ctl00_wucFooterNav_HyperLink6"
                href="oral_arguments/calendarsandlists.aspx"
                >Calendars and Lists</a
              >
            </li>
            <li>
              <a
                id="ctl00_wucFooterNav_HyperLink8"
                href="oral_arguments/courtroomseating.aspx"
                >Courtroom Seating</a
              >
            </li>
          </ul>
          <br />
          <a
            id="ctl00_wucFooterNav_HyperLink41"
            class="landing"
            href="case_documents.aspx"
            style="display: inline-block; height: 18px"
            >Case Documents</a
          >
          <ul class="footernavlist">
            <li>
              <a id="ctl00_wucFooterNav_hypdocket" href="docket/docket.aspx"
                >Docket Search</a
              >
            </li>
            <li>
              <a
                id="ctl00_wucFooterNav_hypOrdersOfCourt"
                href="orders/ordersofthecourt/24"
                >Orders of the Court</a
              >
            </li>
            <li>
              <a
                id="ctl00_wucFooterNav_HyperLink67"
                href="orders/ordersbycircuit.aspx"
                >Orders by Circuit</a
              >
            </li>
            <li>
              <a
                id="ctl00_wucFooterNav_HyperLink68"
                href="orders/grantednotedlists.aspx"
                >Granted/Noted Cases List</a
              >
            </li>
            <li>
              <a
                id="ctl00_wucFooterNav_HyperLink39"
                href="orders/journal.aspx"
                >Journal</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 nopadding">
        <div class="col-sm-4 col-xs-12">
          <a
            id="ctl00_wucFooterNav_hypCourtInfo"
            class="landing"
            href="publicinfo/publicinfo.aspx"
            style="display: inline-block; height: 18px"
            >News Media</a
          >
          <ul class="footernavlist">
            <li>
              <a
                id="ctl00_wucFooterNav_HyperlinkServicesft"
                href="publicinfo/PIOServices.pdf"
                target="_blank"
                >Services for News Media</a
              >
            </li>
            <li>
              <a
                id="ctl00_wucFooterNav_Hyperlink57"
                href="publicinfo/press/pressreleases.aspx"
                >Press Releases</a
              >
            </li>
            <li>
              <a
                id="ctl00_wucFooterNav_Hyperlink58"
                href="publicinfo/media/mediaadvisories.aspx"
                >Media Advisories</a
              >
            </li>
            <li>
              <a
                id="ctl00_wucFooterNav_Hyperlink61"
                href="publicinfo/press/presscredentials.aspx"
                >Press Credentials</a
              >
            </li>
            <li>
              <a
                id="ctl00_wucFooterNav_Hyperlink59"
                href="publicinfo/speeches/speeches.aspx"
                >Speeches</a
              >
            </li>
            <li>
              <a
                id="ctl00_wucFooterNav_Hyperlink62"
                href="publicinfo/reportersguide.pdf"
                target="_blank"
                >A Reporter's Guide to Applications (PDF)</a
              >
            </li>
            <li>
              <a
                id="ctl00_wucFooterNav_Hyperlink60"
                href="publicinfo/year-end/year-endreports.aspx"
                >Chief Justice's Year-End Reports on the Federal
                Judiciary</a
              >
            </li>
          </ul>
          <br />
        </div>
        <div class="col-sm-4 col-xs-12">
          <a
            id="ctl00_wucFooterNav_hypAboutCourt"
            class="landing"
            href="about/about.aspx"
            style="display: inline-block; height: 18px"
            >About</a
          >
          <ul class="footernavlist">
            <li>
              <a
                id="ctl00_wucFooterNav_Hyperlink4"
                href="about/justices.aspx"
                >Justices</a
              >
            </li>
            <li>
              <a
                id="ctl00_wucFooterNav_Hyperlink10"
                href="about/courtatwork.aspx"
                >Supreme Court at Work</a
              >
            </li>
            <li>
              <a
                id="ctl00_wucFooterNav_Hyperlink1"
                href="about/code-of-conduct-for-justices.aspx"
                >Code of Conduct for Justices</a
              >
            </li>
            <li>
              <a
                id="ctl00_wucFooterNav_Hyperlink7"
                href="about/historyandtraditions.aspx"
                >History and Traditions</a
              >
            </li>
            <li>
              <a
                id="ctl00_wucFooterNav_Hyperlink49"
                href="about/courtbuilding.aspx"
                >The Supreme Court Building</a
              >
            </li>
            <li>
              <a
                id="ctl00_wucFooterNav_Hyperlink50"
                href="about/buildingregulations.aspx"
                >Building Regulations</a
              >
            </li>
            <li>
              <a id="ctl00_wucFooterNav_Hyperlink45" href="about/faq.aspx"
                >Frequently Asked Questions</a
              >
            </li>
          </ul>
          <br />
        </div>
        <div class="col-sm-4 col-xs-12">
          <a
            id="ctl00_wucFooterNav_hypVisit"
            class="landing"
            href="visiting/visiting.aspx"
            style="display: inline-block; height: 18px"
            >Visit</a
          >
          <ul class="footernavlist">
            <li>
              <a
                id="ctl00_wucFooterNav_hypHoursDirection"
                href="visiting/hoursanddirections.aspx"
                >Hours & Directions</a
              >
            </li>
            <li>
              <a
                id="ctl00_wucFooterNav_hypProhibitedItems"
                href="visiting/prohibited-items.aspx"
                >Prohibited Items</a
              >
            </li>
            <li>
              <a
                id="ctl00_wucFooterNav_HyperGuidelines"
                href="visiting/visitorguidelines.aspx"
                >Visitor Guidelines</a
              >
            </li>
            <li>
              <a
                id="ctl00_wucFooterNav_HypAccessibility"
                href="visiting/accessibility.aspx"
                >Accessibility</a
              >
            </li>
            <li>
              <a
                id="ctl00_wucFooterNav_HypMapsBrochures"
                href="visiting/maps-and-guides.aspx"
                >Maps & Guides</a
              >
            </li>
            <li>
              <a
                id="ctl00_wucFooterNav_hypLectures"
                href="visiting/courtroomlectures.aspx"
                >Courtroom Lectures</a
              >
            </li>
            <li>
              <a
                id="ctl00_wucFooterNav_HyperLink9"
                href="visiting/exhibition.aspx"
                >Exhibitions</a
              >
            </li>
            <li>
              <a
                id="ctl00_wucFooterNav_HypSchool"
                href="visiting/groupvisits.aspx"
                >Group Visits</a
              >
            </li>
            <li>
              <a
                id="ctl00_wucFooterNav_HyperLink11"
                href="visiting/activities.aspx"
                >Activities for Students & Families</a
              >
            </li>
            <li>
              <a
                id="ctl00_wucFooterNav_HypBuildingAmenities"
                href="visiting/buildingamenities.aspx"
                >Café & Building Amenities</a
              >
            </li>
          </ul>
          <br />
        </div>
      </div>
    </div>
  </div> -->

  <!-- <div class="footer3 noindex">
    <div class="container">
      <span
        ><a id="ctl00_HypContactUs" href="contact/contactus.aspx"
          >Contact Us</a
        ></span
      >
      <span class="pipespacer">|</span>
      <span><a id="ctl00_HyperLink1" href="sitemap.aspx">Site Map</a></span>
      <span class="pipespacer">|</span>
      <span><a id="ctl00_hypHelp" href="help.aspx">Help</a></span>
      <span class="pipespacer">|</span>
      <span
        ><a id="ctl00_HypFellows" href="fellows/">Fellows Program</a></span
      >
      <span class="pipespacer">|</span>
      <span><a id="ctl00_HypJobs" href="jobs/jobs.aspx">Jobs</a></span>
      <span class="pipespacer">|</span>
      <span><a id="ctl00_HypLinks" href="links/links.aspx">Links</a></span>
      <span class="pipespacer">|</span>
      <span
        ><a
          id="ctl00_HypWebPolicy"
          href="policies/web_policies_and_notices.aspx"
          >Website Policies and Notices</a
        ></span
      >
      <span class="pipespacer">|</span>
      <span
        ><a id="ctl00_HypPrivacy" href="policies/privacy_notice.aspx"
          >Privacy Policy</a
        ></span
      >
      <span class="pipespacer">|</span>
      <span
        ><a
          id="ctl00_hypUSA"
          href="redirect.aspx?federal=y&amp;newURL=www.usa.gov"
          >USA.GOV</a
        ></span
      >
    </div>
  </div> -->
  <div class="footer4">
    <div class="container">
      <span class="footerbold">SUPREME COURT OF THE UNITED STATES</span>
      <span class="dotspacer"
        ><i class="fa fa-circle" style="font-size: 3pt"></i
      ></span>
      <span>1 First Street, NE</span>
      <span class="dotspacer"
        ><i class="fa fa-circle" style="font-size: 3pt"></i
      ></span>
      <span>Washington, DC 20543</span>
    </div>
    <button
      onclick="goToTop(); return false;"
      id="gototop"
      title="Got To Top"
      style="display: none"
    >
      <i class="fa fa-chevron-circle-up"></i>
    </button>
  </div>

  <script type="text/javascript">
    //<![CDATA[
    var Page_Validators = new Array(
      document.getElementById("ctl00_RegularExpressionValidator2"),
      document.getElementById("ctl00_SearchVal")
    );
    //]]>
  </script>

  <script type="text/javascript">
    //<![CDATA[
    var ctl00_RegularExpressionValidator2 = document.all
      ? document.all["ctl00_RegularExpressionValidator2"]
      : document.getElementById("ctl00_RegularExpressionValidator2");
    ctl00_RegularExpressionValidator2.controltovalidate = "ctl00_txtSearch";
    ctl00_RegularExpressionValidator2.errormessage =
      "Search term too short ";
    ctl00_RegularExpressionValidator2.evaluationfunction =
      "RegularExpressionValidatorEvaluateIsValid";
    ctl00_RegularExpressionValidator2.validationexpression =
      "^[\\s\\S]{3,}$";
    var ctl00_SearchVal = document.all
      ? document.all["ctl00_SearchVal"]
      : document.getElementById("ctl00_SearchVal");
    ctl00_SearchVal.controltovalidate = "ctl00_txtSearch";
    ctl00_SearchVal.errormessage = "Invalid text in search term. Try again";
    ctl00_SearchVal.evaluationfunction =
      "RegularExpressionValidatorEvaluateIsValid";
    ctl00_SearchVal.validationexpression = "[\\w\\s-/\"'() /*@.]*";
    //]]>
  </script>

  <script type="text/javascript">
    //<![CDATA[
    window.__TsmHiddenField = $get("ctl00_RadScriptManager1_TSM");
    var Page_ValidationActive = false;
    if (typeof ValidatorOnLoad == "function") {
      ValidatorOnLoad();
    }

    function ValidatorOnSubmit() {
      if (Page_ValidationActive) {
        return ValidatorCommonOnSubmit();
      } else {
        return true;
      }
    }
    WebForm_AutoFocus("cmdsearch");
    document.getElementById("ctl00_RegularExpressionValidator2").dispose =
      function () {
        Array.remove(
          Page_Validators,
          document.getElementById("ctl00_RegularExpressionValidator2")
        );
      };

    document.getElementById("ctl00_SearchVal").dispose = function () {
      Array.remove(
        Page_Validators,
        document.getElementById("ctl00_SearchVal")
      );
    };
    Sys.Application.add_init(function () {
      $create(
        Telerik.Web.UI.RadCalendar,
        {
          _DayRenderChangedDays: {
            "2025_6_26": ["", "SplitDay SplitDay"],
            "2025_6_12": ["", "SplitDay SplitDay"],
            "2025_6_18": ["", "SplitDay SplitDay"],
            "2025_6_5": ["", "SplitDay SplitDay"],
          },
          _FormatInfoArray: [
            [
              "Sunday",
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday",
              "Saturday",
            ],
            ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
            [
              "January",
              "February",
              "March",
              "April",
              "May",
              "June",
              "July",
              "August",
              "September",
              "October",
              "November",
              "December",
              "",
            ],
            [
              "Jan",
              "Feb",
              "Mar",
              "Apr",
              "May",
              "Jun",
              "Jul",
              "Aug",
              "Sep",
              "Oct",
              "Nov",
              "Dec",
              "",
            ],
            "dddd, MMMM d, yyyy h:mm:ss tt",
            "dddd, MMMM d, yyyy",
            "h:mm:ss tt",
            "MMMM d",
            "ddd, dd MMM yyyy HH\u0027:\u0027mm\u0027:\u0027ss \u0027GMT\u0027",
            "M/d/yyyy",
            "h:mm tt",
            "yyyy\u0027-\u0027MM\u0027-\u0027dd\u0027T\u0027HH\u0027:\u0027mm\u0027:\u0027ss",
            "yyyy\u0027-\u0027MM\u0027-\u0027dd HH\u0027:\u0027mm\u0027:\u0027ss\u0027Z\u0027",
            "MMMM yyyy",
            "AM",
            "PM",
            "/",
            ":",
            0,
          ],
          _ViewRepeatableDays: {},
          _ViewsHash: { ctl00_MainEditable_Cal_Top: [[2025, 6, 1], 1] },
          _calendarWeekRule: 0,
          _culture: "en-US",
          _enableKeyboardNavigation: false,
          _enableViewSelector: false,
          _firstDayOfWeek: 7,
          _postBackCall:
            "__doPostBack(\u0027ctl00$MainEditable$Cal\u0027,\u0027@@\u0027)",
          _rangeSelectionMode: 0,
          autoPostBack: true,
          calendarEnableMonthYearFastNavigation: false,
          clientStateFieldID: "ctl00_MainEditable_Cal_ClientState",
          enableMultiSelect: false,
          enabled: true,
          monthYearNavigationSettings: [
            "Today",
            "OK",
            "Cancel",
            "Date is out of range.",
            "False",
            "True",
            "300",
            "1",
            "300",
            "1",
            "False",
          ],
          showOtherMonthsDays: false,
          skin: "Web21",
          specialDaysArray: [
            [
              ,
              [2025, 6, 2],
              1,
              0,
              0,
              0,
              64,
              0,
              "Order List Issuance Day",
              {
                SpecialDayStyle_2025_6_2: ["background-color:#25AAE1;", ""],
              },
            ],
            [
              "SplitDay5",
              [2025, 6, 5],
              1,
              0,
              0,
              0,
              64,
              0,
              "Conference/Non-argument Day",
              { SpecialDayStyle_2025_6_5: ["", "SplitDay"] },
            ],
            [
              ,
              [2025, 6, 9],
              1,
              0,
              0,
              0,
              64,
              0,
              "Order List Issuance Day",
              {
                SpecialDayStyle_2025_6_9: ["background-color:#25AAE1;", ""],
              },
            ],
            [
              "SplitDay12",
              [2025, 6, 12],
              1,
              0,
              0,
              0,
              64,
              0,
              "Conference/Non-argument Day",
              { SpecialDayStyle_2025_6_12: ["", "SplitDay"] },
            ],
            [
              ,
              [2025, 6, 16],
              1,
              0,
              0,
              0,
              64,
              0,
              "Order List Issuance Day",
              {
                SpecialDayStyle_2025_6_16: [
                  "background-color:#25AAE1;",
                  "",
                ],
              },
            ],
            [
              "SplitDay18",
              [2025, 6, 18],
              1,
              0,
              0,
              0,
              64,
              0,
              "Conference/Non-argument Day",
              { SpecialDayStyle_2025_6_18: ["", "SplitDay"] },
            ],
            [
              "Day19",
              [2025, 6, 19],
              1,
              0,
              0,
              0,
              64,
              0,
              "Juneteenth National Independence Day",
              { SpecialDayStyle_2025_6_19: ["", ""] },
            ],
            [
              ,
              [2025, 6, 23],
              1,
              0,
              0,
              0,
              64,
              0,
              "Order List Issuance Day",
              {
                SpecialDayStyle_2025_6_23: [
                  "background-color:#25AAE1;",
                  "",
                ],
              },
            ],
            [
              "SplitDay26",
              [2025, 6, 26],
              1,
              0,
              0,
              0,
              64,
              0,
              "Conference/Non-argument Day",
              { SpecialDayStyle_2025_6_26: ["", "SplitDay"] },
            ],
          ],
          stylesHash: {
            DayStyle: ["", ""],
            CalendarTableStyle: ["", "rcMainTable"],
            OtherMonthDayStyle: ["", "rcOtherMonth"],
            TitleStyle: ["", ""],
            SelectedDayStyle: ["border-style:Solid;", "rcSelected"],
            SelectorStyle: ["", "HeaderClass"],
            DisabledDayStyle: ["", "rcDisabled"],
            OutOfRangeDayStyle: ["", "rcOutOfRange"],
            WeekendDayStyle: ["", "rcWeekend"],
            DayOverStyle: ["", "rcHover"],
            FastNavigationStyle: [
              "",
              "RadCalendarMonthView RadCalendarMonthView_Web21",
            ],
            ViewSelectorStyle: ["", "rcViewSel"],
          },
          useColumnHeadersAsSelectors: false,
        },
        { dateClick: DateClick },
        null,
        $get("ctl00_MainEditable_Cal")
      );
    });
    Sys.Application.add_init(function () {
      $create(
        Telerik.Web.UI.RadToolTip,
        {
          _cssClass: "",
          _manualCloseButtonText: "Close",
          _renderMode: 2,
          animation: 2,
          clientStateFieldID: "ctl00_MainEditable_RadToolTip1_ClientState",
          formID: "aspnetForm",
          position: 12,
          relativeTo: 1,
          skin: "Default",
          targetControlID: "legendArg",
          width: "390px",
        },
        null,
        null,
        $get("ctl00_MainEditable_RadToolTip1")
      );
    });
    Sys.Application.add_init(function () {
      $create(
        Telerik.Web.UI.RadToolTip,
        {
          _cssClass: "",
          _manualCloseButtonText: "Close",
          _renderMode: 2,
          animation: 2,
          clientStateFieldID: "ctl00_MainEditable_RadToolTip2_ClientState",
          formID: "aspnetForm",
          position: 12,
          relativeTo: 1,
          skin: "Default",
          targetControlID: "legendNon",
          width: "390px",
        },
        null,
        null,
        $get("ctl00_MainEditable_RadToolTip2")
      );
    });
    Sys.Application.add_init(function () {
      $create(
        Telerik.Web.UI.RadToolTip,
        {
          _cssClass: "",
          _manualCloseButtonText: "Close",
          _renderMode: 2,
          animation: 2,
          clientStateFieldID: "ctl00_MainEditable_RadToolTip3_ClientState",
          formID: "aspnetForm",
          position: 12,
          relativeTo: 1,
          skin: "Default",
          targetControlID: "legendConf",
          width: "390px",
        },
        null,
        null,
        $get("ctl00_MainEditable_RadToolTip3")
      );
    });
    Sys.Application.add_init(function () {
      $create(
        Telerik.Web.UI.RadToolTip,
        {
          _cssClass: "",
          _manualCloseButtonText: "Close",
          _renderMode: 2,
          animation: 2,
          clientStateFieldID: "ctl00_MainEditable_RadToolTip4_ClientState",
          formID: "aspnetForm",
          position: 12,
          relativeTo: 1,
          skin: "Default",
          targetControlID: "legendSplit",
          width: "390px",
        },
        null,
        null,
        $get("ctl00_MainEditable_RadToolTip4")
      );
    });
    Sys.Application.add_init(function () {
      $create(
        Telerik.Web.UI.RadToolTip,
        {
          _cssClass: "",
          _manualCloseButtonText: "Close",
          _renderMode: 2,
          animation: 2,
          clientStateFieldID: "ctl00_MainEditable_RadToolTip5_ClientState",
          formID: "aspnetForm",
          position: 12,
          relativeTo: 1,
          skin: "Default",
          targetControlID: "legendHol",
          width: "390px",
        },
        null,
        null,
        $get("ctl00_MainEditable_RadToolTip5")
      );
    });
    Sys.Application.add_init(function () {
      $create(
        Telerik.Web.UI.RadToolTip,
        {
          _cssClass: "",
          _manualCloseButtonText: "Close",
          _renderMode: 2,
          animation: 2,
          clientStateFieldID: "ctl00_MainEditable_RadToolTip6_ClientState",
          formID: "aspnetForm",
          position: 12,
          relativeTo: 1,
          skin: "Default",
          targetControlID: "legendOpinion",
          width: "390px",
        },
        null,
        null,
        $get("ctl00_MainEditable_RadToolTip6")
      );
    });
    Sys.Application.add_init(function () {
      $create(
        Telerik.Web.UI.RadToolTip,
        {
          _cssClass: "",
          _manualCloseButtonText: "Close",
          _renderMode: 2,
          animation: 2,
          clientStateFieldID: "ctl00_MainEditable_RadToolTip8_ClientState",
          formID: "aspnetForm",
          position: 12,
          relativeTo: 1,
          skin: "Default",
          targetControlID: "legendOrder",
          width: "390px",
        },
        null,
        null,
        $get("ctl00_MainEditable_RadToolTip8")
      );
    });
    Sys.Application.add_init(function () {
      $create(
        Telerik.Web.UI.RadToolTip,
        {
          _cssClass: "",
          _manualCloseButtonText: "Close",
          _renderMode: 2,
          animation: 2,
          clientStateFieldID: "ctl00_MainEditable_RadToolTip7_ClientState",
          formID: "aspnetForm",
          position: 12,
          relativeTo: 1,
          skin: "Default",
          targetControlID: "legendconfOpinion",
          width: "390px",
        },
        null,
        null,
        $get("ctl00_MainEditable_RadToolTip7")
      );
    });
    Sys.Application.add_init(function () {
      $create(
        Telerik.Web.UI.RadToolTip,
        {
          _cssClass: "",
          _manualCloseButtonText: "Close",
          _renderMode: 2,
          animation: 2,
          clientStateFieldID: "ctl00_MainEditable_RadToolTip9_ClientState",
          formID: "aspnetForm",
          position: 12,
          relativeTo: 1,
          skin: "Default",
          targetControlID: "legendConfArg",
          width: "390px",
        },
        null,
        null,
        $get("ctl00_MainEditable_RadToolTip9")
      );
    });
    Sys.Application.add_init(function () {
      $create(
        Telerik.Web.UI.RadWindow,
        {
          _dockMode: false,
          behaviors: 4,
          clientStateFieldID:
            "ctl00_MainEditable_DisplayWindow_ClientState",
          formID: "aspnetForm",
          height: "580px",
          iconUrl: "",
          left: "200px",
          maxHeight: "580px",
          maxWidth: "800px",
          minHeight: "460px",
          minWidth: "680px",
          minimizeIconUrl: "",
          modal: true,
          name: "DisplayWindow",
          reloadOnShow: true,
          skin: "Default",
          title: "Docket",
          top: "100px",
          visibleStatusbar: false,
          width: "800px",
        },
        { show: OnClientShow },
        null,
        $get("ctl00_MainEditable_DisplayWindow")
      );
    });
    Sys.Application.add_init(function () {
      $create(
        Telerik.Web.UI.RadWindow,
        {
          _dockMode: false,
          behaviors: 4,
          clientStateFieldID:
            "ctl00_MainEditable_DisplayWindow2_ClientState",
          formID: "aspnetForm",
          height: "580px",
          iconUrl: "",
          left: "200px",
          maxHeight: "580px",
          maxWidth: "800px",
          minHeight: "460px",
          minWidth: "680px",
          minimizeIconUrl: "",
          modal: true,
          name: "DisplayWindow2",
          reloadOnShow: true,
          skin: "Default",
          title: "QP",
          top: "100px",
          visibleStatusbar: false,
          width: "800px",
        },
        null,
        null,
        $get("ctl00_MainEditable_DisplayWindow2")
      );
    });
    Sys.Application.add_init(function () {
      $create(
        Telerik.Web.UI.RadWindow,
        {
          _dockMode: false,
          behaviors: 4,
          clientStateFieldID:
            "ctl00_MainEditable_DisplayWindow3_ClientState",
          formID: "aspnetForm",
          height: "460px",
          iconUrl: "",
          left: "200px",
          maxHeight: "580px",
          maxWidth: "800px",
          minHeight: "460px",
          minWidth: "680px",
          minimizeIconUrl: "",
          modal: true,
          name: "DisplayWindow3",
          reloadOnShow: true,
          skin: "Default",
          title: "Live Oral Argument Audio",
          top: "100px",
          visibleStatusbar: false,
          width: "680px",
        },
        { show: OnClientShow2 },
        null,
        $get("ctl00_MainEditable_DisplayWindow3")
      );
    });
    Sys.Application.add_init(function () {
      $create(
        Telerik.Web.UI.RadWindowManager,
        {
          clientStateFieldID:
            "ctl00_MainEditable_RadWindowManager1_ClientState",
          formID: "aspnetForm",
          iconUrl: "",
          left: "200px",
          maxHeight: "580px",
          maxWidth: "800px",
          minHeight: "460px",
          minWidth: "680px",
          minimizeIconUrl: "",
          name: "RadWindowManager1",
          skin: "Default",
          top: "100px",
          visibleStatusbar: false,
          windowControls:
            "['ctl00_MainEditable_DisplayWindow','ctl00_MainEditable_DisplayWindow2','ctl00_MainEditable_DisplayWindow3']",
        },
        null,
        { child: "ctl00_MainEditable_DisplayWindow" },
        $get("ctl00_MainEditable_RadWindowManager1")
      );
    });
    Sys.Application.add_init(function () {
      $create(
        Telerik.Web.UI.RadAjaxPanel,
        {
          clientEvents: { OnRequestStart: "", OnResponseEnd: "" },
          enableAJAX: true,
          enableHistory: false,
          links: [],
          loadingPanelID: "",
          styles: [],
          uniqueID: "ctl00$MainEditable$RadAjaxPanel1",
        },
        null,
        null,
        $get("ctl00_MainEditable_RadAjaxPanel1")
      );
    });
    //]]>
  </script>
</div>
<script type="text/javascript">
  window.onscroll = function () {
    scrollFunction();
  };

  function scrollFunction() {
    var vTop = $(window).scrollTop();
    if (vTop > 100) {
      document.getElementById("gototop").style.display = "block";
    } else {
      document.getElementById("gototop").style.display = "none";
    }
  }

  function goToTop() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }

  function toggleSearchshow() {
    var query = $("#searchbox");
    var isVisible = query.is(":visible");

    if (isVisible === true) {
      $("#searchbox").css("display", "none");
    } else {
      $("#searchbox").css("display", "block");
    }
  }
</script>