<div id="navbg">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <!-- menu starts here -->

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a id="ctl00_wucNewMenu1_HyperLink5" class="dropdown-toggle"
                            href="/opinion/">OPINIONS</a>
                        <!-- <ul class="dropdown-menu">
                            <li><a id="ctl00_wucNewMenu1_HyperLink30" href="opinions/slipopinion/24">Opinions of
                                    the Court</a></li>
                            <li><a id="ctl00_wucNewMenu1_HyperLink31"
                                    href="opinions/relatingtoorders/24">Opinions Relating to Orders</a></li>
                            <li><a id="ctl00_wucNewMenu1_HyperLink32"
                                    href="opinions/in-chambers.aspx">In-Chambers Opinions</a></li>
                            <li><a id="ctl00_wucNewMenu1_HyperLink35" href="opinions/USReports.aspx">U. S.
                                    Reports</a></li>
                            <li><a id="ctl00_wucNewMenu1_HyperLink37" href="opinions/urls_cited.aspx">Online
                                    Sources Cited in Opinions</a></li>
                            <li><a id="ctl00_wucNewMenu1_HyperLink36" href="media/media.aspx">Media Files Cited
                                    in Opinions</a></li>

                            <li><a id="ctl00_wucNewMenu1_HyperLink34" href="opinions/casefinder.aspx">Case
                                    Citation Finder</a></li>
                        </ul> -->
                    </li>
                    <li class="dropdown">
                        <a id="ctl00_wucNewMenu1_HyperLink69" class="dropdown-toggle"
                            href="/filing/">FILING & RULES</a>
                        <!-- <ul class="dropdown-menu">
                            <li><a id="ctl00_wucNewMenu1_HyperLink44"
                                    href="filingandrules/electronicfiling.aspx">Electronic Filing</a></li>
                            <li><a id="ctl00_wucNewMenu1_HyperLink3"
                                    href="filingandrules/rules_guidance.aspx">Rules and Guidance</a></li>
                            <li><a id="ctl00_wucNewMenu1_HyperLink2"
                                    href="filingandrules/supremecourtbar.aspx">Supreme Court Bar</a>
                        </ul> -->
                    </li>
                    <li class="dropdown">
                        <a id="ctl00_wucNewMenu1_hl" class="dropdown-toggle"
                            href="/oral/">ORAL ARGUMENTS</a>
                        <!-- <ul class="dropdown-menu">
                            <li><a id="ctl00_wucNewMenu1_HyperLink13"
                                    href="oral_arguments/argument_transcript.aspx">Argument Transcripts</a></li>
                            <li><a id="ctl00_wucNewMenu1_HyperLink14"
                                    href="oral_arguments/argument_audio.aspx">Argument Audio</a></li>
                            <li><a id="ctl00_wucNewMenu1_HyperLink6"
                                    href="oral_arguments/calendarsandlists.aspx">Calendars and Lists</a></li>
                            <li><a id="ctl00_wucNewMenu1_HyperLink8"
                                    href="oral_arguments/courtroomseating.aspx">Courtroom Seating</a></li>
                        </ul> -->
                    </li>
                    <li class="dropdown">
                        <a id="ctl00_wucNewMenu1_HyperLink41" class="dropdown-toggle"
                            href="/case/">CASE DOCUMENTS</a>
                        <!-- <ul class="dropdown-menu">
                            <li><a id="ctl00_wucNewMenu1_hypdocket" href="docket/docket.aspx">Docket Search</a>
                            </li>
                            <li><a id="ctl00_wucNewMenu1_hypOrdersOfCourt"
                                    href="orders/ordersofthecourt/24">Orders of the Court</a></li>
                            <li><a id="ctl00_wucNewMenu1_HyperLink67" href="orders/ordersbycircuit.aspx">Orders
                                    by Circuit</a></li>
                            <li><a id="ctl00_wucNewMenu1_HyperLink68"
                                    href="orders/grantednotedlists.aspx">Granted/Noted Cases List</a></li>
                            <li><a id="ctl00_wucNewMenu1_HyperLink39" href="orders/journal.aspx">Journal</a>
                            </li>

                        </ul> -->
                    </li>
                    <li class="dropdown">
                        <a id="ctl00_wucNewMenu1_hypCourtInfo" class="dropdown-toggle"
                            href="/news/">NEWS MEDIA</a>
                        <!-- <ul class="dropdown-menu">
                            <li><a id="ctl00_wucNewMenu1_HyperlinkServices" href="publicinfo/PIOServices.pdf"
                                    target="_blank">Services for News Media</a></li>
                            <li><a id="ctl00_wucNewMenu1_Hyperlink57"
                                    href="publicinfo/press/pressreleases.aspx">Press Releases</a></li>
                            <li><a id="ctl00_wucNewMenu1_Hyperlink58"
                                    href="publicinfo/media/mediaadvisories.aspx">Media Advisories</a></li>
                            <li><a id="ctl00_wucNewMenu1_Hyperlink61"
                                    href="publicinfo/press/presscredentials.aspx">Press Credentials</a></li>
                            <li><a id="ctl00_wucNewMenu1_Hyperlink59"
                                    href="publicinfo/speeches/speeches.aspx">Speeches</a></li>
                            <li><a id="ctl00_wucNewMenu1_Hyperlink62" href="publicinfo/reportersguide.pdf"
                                    target="_blank">A Reporter's Guide to Applications</a></li>
                            <li><a id="ctl00_wucNewMenu1_Hyperlink60"
                                    href="publicinfo/year-end/year-endreports.aspx">Chief Justice's Year-End
                                    Reports on the Federal Judiciary</a></li>
                        </ul> -->
                    </li>
                    <li class="dropdown">
                        <a id="ctl00_wucNewMenu1_hypAboutCourt" class="dropdown-toggle"
                            href="/about/">ABOUT</a>
                        <!-- <ul class="dropdown-menu">
                            <li><a id="ctl00_wucNewMenu1_Hyperlink4" href="about/justices.aspx">Justices</a>
                            </li>
                            <li><a id="ctl00_wucNewMenu1_Hyperlink10" href="about/courtatwork.aspx">Supreme
                                    Court at Work</a></li>
                            <li><a id="ctl00_wucNewMenu1_Hyperlink1"
                                    href="about/code-of-conduct-for-justices.aspx">Code of Conduct for
                                    Justices</a></li>
                            <li><a id="ctl00_wucNewMenu1_Hyperlink7"
                                    href="about/historyandtraditions.aspx">History and Traditions</a></li>
                            <li><a id="ctl00_wucNewMenu1_Hyperlink49" href="about/courtbuilding.aspx">The
                                    Supreme Court Building</a></li>

                            <li><a id="ctl00_wucNewMenu1_hypbuildingregulation"
                                    href="about/buildingregulations.aspx">Building Regulations</a></li>

                            <li><a id="ctl00_wucNewMenu1_Hyperlink45" href="about/faq.aspx">Frequently Asked
                                    Questions</a></li>
                        </ul> -->
                    </li>
                  
                </ul>
            </div>


            <!-- menu ends here -->
        </div>
    </nav>
</div>

<header class="header-image">
    <div class="headline">
        <div id="ctl00_Slideshow_radeditBanner2">
            <!-- 2024.2.513.462 --><!--<div style="display:block; padding: 0px 0px 400px 0px;">-->

            <div style="display:block; padding: 0px 0px 400px 0px;">

            </div>

        </div>
        <div id="ctl00_Slideshow_radeditBanner">
            <!-- Do NOT Change first Div -->
            <div class="promoblock">

            </div>
        </div>
    </div>
</header>