<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
{% include 'headers.html' %}

<body>
    <div>
        <div class="aspNetHidden">
            <input type="hidden" name="ctl00_RadScriptManager1_TSM" id="ctl00_RadScriptManager1_TSM" value="" />
            <input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
            <input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />

        </div>

        <script type="text/javascript">
            //<![CDATA[
            var theForm = document.forms["aspnetForm"];
            if (!theForm) {
                theForm = document.aspnetForm;
            }
            function __doPostBack(eventTarget, eventArgument) {
                if (!theForm.onsubmit || theForm.onsubmit() != false) {
                    theForm.__EVENTTARGET.value = eventTarget;
                    theForm.__EVENTARGUMENT.value = eventArgument;
                    theForm.submit();
                }
            }
            //]]>
        </script>

        <script
            src="https://www.supremecourt.gov/WebResource.axd?d=pynGkmcFUV13He1Qd6_TZGVbOm9V68oIIktI_W7Deic6ylHZhBcO0DPfFNaFgt6K56r_Ei_L1R3fS8qPL3MKAQ2&t=638563127773552689"
            type="text/javascript"></script>

        <script
            src="https://www.supremecourt.gov/ScriptResource.axd?d=nv7asgRUU0tRmHNR2D6t1Mz6ZxijnNM9P9Qe9uddzuQox2IiojG5k5o-qBJoG7Dte7hbvoCbRBuRPeHeZyRwpX5LxES8-RopBt8-Md8MvNAZC1XK3f6rj17R5SQNmwNnKj_Fve60SE18feZoCEb2Yw2&t=7266186d"
            type="text/javascript"></script>
        <script
            src="https://www.supremecourt.gov/Telerik.Web.UI.WebResource.axd?_TSM_HiddenField_=ctl00_RadScriptManager1_TSM&compress=1&_TSM_CombinedScripts_=%3b%3bSystem.Web.Extensions%2c+Version%3d4.0.0.0%2c+Culture%3dneutral%2c+PublicKeyToken%3d31bf3856ad364e35%3aen-US%3aceece802-cb39-4409-a6c9-bfa3b2c8bf10%3aea597d4b%3ab25378d2%3bTelerik.Web.UI%2c+Version%3d2024.2.513.462%2c+Culture%3dneutral%2c+PublicKeyToken%3d121fae78165ba3d4%3aen-US%3a4a06dcb0-7284-4255-b4c3-3ac41266023c%3a16e4e7cd%3aed16cbdc%3a33715776%3af7645509%3a59462f1%3aa51ee93e%3a88144a7a%3a24ee1bba%3ac128760b%3a19620875%3a874f8ea2%3af46195d3%3acda80b3%3ab2e06756%3a92fe8ea0%3afa31b949%3a4877f69a%3a490a9d4e%3abd8f85e4"
            type="text/javascript"></script>
        <script
            src="https://www.supremecourt.gov/WebResource.axd?d=JoBkLzP19aTuxbWOhHobYsa30HvStoJLmW0EUzyYHJhRhK8cvVYfDS9nHruKQgTxhM0JzZn77-vUVCXyHe4QLg2&t=638563127773552689"
            type="text/javascript"></script>
        <script type="text/javascript">
            //<![CDATA[
            function WebForm_OnSubmit() {
                if (
                    typeof ValidatorOnSubmit == "function" &&
                    ValidatorOnSubmit() == false
                )
                    return false;
                return true;
            }
            //]]>
        </script>

        <div class="aspNetHidden">
            <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="CA0B0334" />
            <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION"
                value="nLtrRA0YtJIAmpjLORsHfyF8PjnfUEwXYGEzOlbdQRKryHkEDbFnzGyr5CARUamwnzIwhFpfTM1NEQO7JMuu+PphaUtLspUabxxGmGB7k+Zcq4oG6CR3XL98Sr1sRhmix+oYzhqdgF4p/OgjwKf1HiKvsE2lS5dtAUc7XwVuHPeLIQHt1QjbrpENo2za9aFY" />
        </div>
        <div class="noindex">
            <script type="text/javascript">
                //<![CDATA[
                Sys.WebForms.PageRequestManager._initialize(
                    "ctl00$RadScriptManager1",
                    "aspnetForm",
                    ["tctl00$MainEditable$ctl00$MainEditable$RadAjaxPanel1Panel", ""],
                    [],
                    [],
                    90,
                    "ctl00"
                );
                //]]>
            </script>
        </div>


        {% include 'hero.html' %}
        {% include 'nav.html' %}
        <!-- Quick Menu -->
        <!-- <div style="padding: 5px 0 5px 0; box-shadow: 0px 10px 10px #888888; position: relative;">
            <div class="container">
                <div class="center-block" style="align-content: center; text-align: center;">
                    <div class="col-md-2 col-xs-12">
                        <h3 style="font-weight: bold; color: #9c2426; padding: 10px;">Quick Links</h3>
                    </div>

                    <div class="col-md-2 col-xs-6" style="padding: 15px;"><a
                            href="filingandrules/electronicfiling.aspx"><i class="fa-solid fa-folder-open"
                                style="font-size: 25pt;"></i><br /> Electronic Filing</a></div>
                    <div class="col-md-2 col-xs-6" style="padding: 15px;"><a href="https://ticket.supremecourt.gov"><i
                                class="fa-solid fa-ticket" style="font-size: 25pt;"></i><br /> Courtroom Seating</a>
                    </div>
                    <div class="col-md-2 col-xs-6" style="padding: 15px;"><a href="fellows/"><i
                                class="fa-solid fa-graduation-cap" style="font-size: 25pt;"></i><br /> Fellows
                            Program</a></div>
                    <div class="col-md-2 col-xs-6" style="padding: 15px;"><a href="contact/contactus.aspx"><i
                                class="fa-regular fa-edit" style="font-size: 25pt;"></i><br /> Contact Us</a></div>
                    <div class="col-md-2 col-xs-6" style="padding: 15px 30px;"><a href="oral_arguments/live.aspx">
                            <div style="display:block; align-content: center; text-align: center;"><img
                                    class="quick-icon" src="images/live_icon.png" alt="Live Audio" />
                                <div>Live Audio</div>
                            </div>
                        </a></div>
                </div>
            </div>
        </div> -->
        <!-- Quick Menu Ends -->

        <div class="container">
            <span id="ctl00_ctl00_lbltemp"></span><br />

            <!-- <div class="col-md-3" style="padding-top: 20px;">
                <div id="sidenavheader">
                    <button class="btn btn-default" onclick="toggleMenushow(); return false;" title="Section Menu"><i
                            class="fa fa-bars" style="font-size: 14pt;"></i></button>
                </div>
                <div id="sidenavbody">
                    <div id="ctl00_ctl00_MainEditable_pnlsidemenu">


                        <ul class="sidenav-list">
                            <li><a id="ctl00_ctl00_MainEditable_sidenavContent_ctl00_hypPIOServices"
                                    href="PIOServices.pdf" target="_blank">Services for News Media</a></li>
                            <li><a id="ctl00_ctl00_MainEditable_sidenavContent_ctl00_hypPress"
                                    href="press/pressreleases.aspx">Press Releases</a></li>
                            <li><a id="ctl00_ctl00_MainEditable_sidenavContent_ctl00_hypAdvisories"
                                    href="media/mediaadvisories.aspx">Media Advisories</a></li>
                            <li><a id="ctl00_ctl00_MainEditable_sidenavContent_ctl00_hypPressCredentials"
                                    href="press/presscredentials.aspx">Press Credentials</a></li>
                            <li><a id="ctl00_ctl00_MainEditable_sidenavContent_ctl00_hypSpeeches"
                                    href="speeches/speeches.aspx">Speeches</a></li>
                            <li><a id="ctl00_ctl00_MainEditable_sidenavContent_ctl00_hypReporterGuide"
                                    href="reportersguide.pdf" target="_blank">A Reporter's Guide to Applications</a>
                            </li>
                            <li><a id="ctl00_ctl00_MainEditable_sidenavContent_ctl00_hypYearEnd"
                                    href="year-end/year-endreports.aspx">Chief Justice's Year-End Reports on the Federal
                                    Judiciary</a></li>
                        </ul>

                    </div>
                </div>
            </div> -->

            <div id="pagemaindiv" class="col-md-9">


                <div id="pagetitle" style="color: #9c2426;">
                    <h3><b>News Media</b></h3>
                </div>
                <br />


                <div id="ctl00_ctl00_MainEditable_mainContent_RadEditor1">
                    <!-- 2024.2.513.462 -->
                    <p>Media facilities and resources are available in the Supreme Court Building for credentialed
                        reporters. Located on the ground floor, the pressroom is supported by the Public Information
                        Office, which is dedicated to facilitating accurate coverage of the Court and furthering the
                        public&rsquo;s understanding of the Court&rsquo;s function and history.
                    </p>
                    <p>The main office number is 202-479-3211. Recorded information&mdash;such as the opinion and orders
                        forecast for the coming week or the list of opinions released that day&mdash;is available on
                        this line, and reporters may also reach a staff member by pressing 1. The office is open Monday
                        through Friday, 9 a.m. to 5:30 p.m.
                    </p>
                    <p>A number of materials of interest to news media are available on the Court&rsquo;s website: <a
                            href="#">orders</a>, <a
                            href="#">opinions</a>, <a
                            href="#">calendars</a>, oral argument <a
                            href="#">transcripts</a> and <a
                            href="#">audio</a>, as well as information about
                        obtaining <a href="#">case updates</a> and <a
                            href="#">briefs</a>.</p>
                    <p>More information on services for news media is available <a href="#"
                            >here</a>.</p>
                </div>
                <br /> <br /> <br />

            </div>
            <div>
                <p>&nbsp;<br /></p>
            </div>
            <script type="text/javascript">
                $(window).on('resize', function () {
                    if ($(window).width() > 991) {
                        $("#sidenavbody").css("display", "block");
                        $("#searchbox").css("display", "block");
                    } else {
                        $("#sidenavbody").css("display", "none");
                        $("#searchbox").css("display", "none");
                    };
                });

                function toggleMenushow() {
                    var query = $("#sidenavbody");
                    var isVisible = query.is(":visible");

                    if (isVisible === true) {
                        $("#sidenavbody").css("display", "none");
                    } else {
                        $("#sidenavbody").css("display", "block");
                    }

                }
            </script>

        </div>

        {% include 'footer.html' %}
</body>

</html>